<!-- <button (click)="enable=!enable">222</button> -->

<nz-switch [(ngModel)]="enable"></nz-switch>
<ul
  *ngIf="nodes.length"
  [hm-sortable]="nodes"
  [hm-sortable-enable]="enable"
  elms-selector="li"
  move-selector="button"
  [select-style]="selectStyle"
  [moving-style]="movingStyle"
  (sort-complete)="complete($event)">
  <li
    *ngFor="let node of nodes; let i = index"
    [attr.index]="i">
      {{i}}
      <button> sdfs </button>
      <span>{{node.name}}</span>
      <span *ngIf="node[key] && node[key].length">({{ node[key].length }})</span>
      <app-ui-tree
        *ngIf="node[key] && node[key].length && node.collapse"
        [key]="key"
        [nodes]="node[key]"
        [searchText]="searchText"></app-ui-tree>
  </li>
</ul>

