<!--The content below is only a placeholder and can be replaced.-->
<div class="ctn">
  <div class="inner-ctn">
    <h4 class="ui header medium center aligned">
      Swipe Avatars with HammerJS
      <div class="sub header">(swipe left or right)</div>
    </h4>
    <button (click)="toggle = true">Gallery Open!</button>
  </div>
</div>

<div class="gallery" *ngIf="toggle">

  <div class="lg-toolbar right">
    <div class="display_fiex">
      <span class="lg-icon icon-play3"></span>
      <span class="lg-icon icon-enlarge"></span>
      <span class="lg-icon icon-download3"></span>
      <span class="lg-icon icon-cross" (click)="toggle = false"></span>
    </div>
  </div>

  <carousel-container
    [current-index]="currentAvatar"
    [drag-many]="false">
    <ul
      carousel-items-container
      class="img-scroll">
      <li class="pane"
        *ngFor="let avatar of avatars; let idx=index"
        carousel-item
        (carousel-item-click)="show(idx)">
        <img
          [src]="avatar.image"
          [alt]="avatar.name"
          [class.hidden]="avatar.loadding"
          (load)="avatar.loadding = false">
        <span class="ui-spinner" *ngIf="avatar.loadding">
          Loading...
        </span>
      </li>
    </ul>

    <ng-template  #carouselPrev>
      <div class="lg-toolbar prev">
        <span class="lg-icon icon-arrow-left2" carouse-prev (click)="prev()"></span>
      </div>
    </ng-template>

    <ng-template #carouselNext>
      <div class="lg-toolbar next">
        <span class="lg-icon icon-arrow-right2" carouse-next (click)="next()"></span>
      </div>
    </ng-template>
  </carousel-container>

  <!-- select container -->
  <carousel-container
    [drag-many]="true"
    [infinite]="false"
    [show-num]="5">
    <ul
      carousel-items-container
      class="pane-container">
      <li
        class="control_pane"
        *ngFor="let avatar of avatars; let idx=index;"
        carousel-item
        (carousel-item-click)="onSelected(idx)">
        <img
          [src]="avatar.image"
          [alt]="avatar.name"
          (load)="avatar.loadding = false">
        <span class="ui-spinner" *ngIf="avatar.loadding">
          Loading...
        </span>
      </li>
    </ul>
  </carousel-container>

  <!-- <ul drag-scroll  class="pane-container">
      <li class="pane" *ngFor="let avatar of avatars">
        {{avatar.name}}
        <img [src]="avatar.image" [alt]="avatar.name" style="height:100%;width:100%">
      </li>
    </ul> -->
</div>
