<!--The content below is only a placeholder and can be replaced.-->
<div class="ctn">
  <div class="inner-ctn">
    <h4 class="ui header medium center aligned">
      Swipe Avatars with HammerJS
      <div class="sub header">(swipe left or right)</div>
    </h4>
    <button (click)="toggle = true">Gallery Open!</button>
  </div>
</div>

<div class="gallery" *ngIf="toggle">
  <div class="content">

    <carousel-container>
      <ul class="img-scroll">
        <li class="pane"
            *ngFor="let avatar of avatars; let idx=index"
            (panmove)="allowSelected = false"
            (click)="onSelected(idx)" >
          <img height="200"
               [src]="avatar.image"
               [alt]="avatar.name"
               [class.hidden]="avatar.loadding"
               (load)="avatar.loadding = false" >
          <span class="ui-spinner" *ngIf="avatar.loadding">
              Loading...
          </span>
        </li>
      </ul>
    </carousel-container>

    <a class="close" style="right: 0px;" (click)="toggle = false">
      <i class="fa fa-close"></i>
    </a>
    <a class="nav-left">
      <i class="fa fa-angle-left" (click)="swipe(currentAvatar, SWIPE_ACTION.LEFT)"></i>
    </a>
    <a class="nav-right">
      <i class="fa fa-angle-right" (click)="swipe(currentAvatar, SWIPE_ACTION.RIGHT)"></i>
    </a>
  </div>

  <div>
    <!-- <carousel-container
      [current-index]="0"
      [autoplay]="true"
      [show-num]="3"
      [scroll-num]="1"
      [autoplay-speed]="1500"
      [between-delay]="1000"
      [center-mode]="true"
    >
      <ul class="img-scroll">
        <li class="pane"
            *ngFor="let avatar of avatars; let idx=index"
            (panmove)="allowSelected = false"
            (click)="onSelected(idx)" >
          <img width="200"
               [src]="avatar.image"
               [alt]="avatar.name"
               [class.hidden]="avatar.loadding"
               (load)="avatar.loadding = false" >
          <span class="ui-spinner" *ngIf="avatar.loadding">
              Loading...
          </span>
        </li>
      </ul>
    </carousel-container> -->
    <ul drag-scroll  class="pane-container">
      <li class="pane" *ngFor="let avatar of avatars">
        <img [src]="avatar.image" [alt]="avatar.name" style="width:200px" (load)="avatar.loadding = false">
        <span class="ui-spinner" *ngIf="avatar.loadding">
          Loading...
        </span>
      </li>
    </ul>
  </div>
</div>

<!-- (click)="swipe((idx !== 0) ? idx - 1 : 1 , (idx !== 0) ? SWIPE_ACTION.RIGHT : SWIPE_ACTION.LEFT)" -->
