<!--The content below is only a placeholder and can be replaced.-->
<div class="ctn">
  <div class="inner-ctn">
    <h4 class="ui header medium center aligned">
      Swipe Avatars with HammerJS
      <div class="sub header">(swipe left or right)</div>
    </h4>
    <button (click)="toggle = true">Gallery Open!</button>
  </div>
</div>

<div class="gallery" *ngIf="toggle">
  <div class="content">

    <carousel-container [current-index]="currentAvatar">
      <ul carouse-items-container class="img-scroll">
        <li class="pane"
            carousel-item
            *ngFor="let avatar of avatars; let idx=index"
            (panmove)="allowSelected = false"
            (click)="onSelected(idx)" >
          <img height="200"
               [src]="avatar.image"
               [alt]="avatar.name"
               [class.hidden]="avatar.loadding"
               (load)="avatar.loadding = false" >
          <span class="ui-spinner" *ngIf="avatar.loadding">
              Loading...
          </span>
        </li>
      </ul>
      <!-- <button carouse-next></button> -->
      <!-- <button carouse-prev></button> -->
    </carousel-container>

    <a class="close" style="right: 0px;" (click)="toggle = false">
      <i class="fa fa-close"></i>
    </a>
    <a class="nav-left">
      <i class="fa fa-angle-left" (click)="prev()"></i>
    </a>
    <a class="nav-right">
      <i class="fa fa-angle-right" (click)="next()"></i>
    </a>
  </div>

  <div>
    <ul drag-scroll  class="pane-container" style="text-align: left;">
      <li class="pane" *ngFor="let avatar of avatars; let idx = index;" (click)="onSelected(idx)">
        <img [src]="avatar.image" [alt]="avatar.name" style="width:200px" (load)="avatar.loadding = false">
        <span class="ui-spinner" *ngIf="avatar.loadding">
          Loading...
        </span>
      </li>
    </ul>
  </div>
</div>
