// Define theme
@import './font/iconfont/material-icons.css';
@import '~@angular/material/theming';
@import './material/custom.scss';


$app-typgography: mat-typography-config(
  $font-family:'"Open Sans","微軟正黑體","Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(35px, 32px, 700),
  $title: mat-typography-level(25px, 32px, 500),
  $subheading-2: mat-typography-level(20px, 28px, 400),
  $subheading-1: mat-typography-level(20px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 500),
  $body-1: mat-typography-level(16px, 20px, 400),
  $caption: mat-typography-level(16px, 20px, 400),
  $button: mat-typography-level(20px, 14px, 500), // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(inherit, 1.125, 400));

@include mat-core($app-typgography);
$app-primary: mat-palette($mat-amber, 400);
$app-accent:mat-palette($mat-orange, A400);
$app-warn:mat-palette($mat-pink, 300);
$app-theme:mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
// Define typography
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

// @include angular-material-typography($app-typgography);
// main bar container
// ::-webkit-scrollbar {
//   width: 12px;
//   background-color: #555;
// }
// custom scroll-bar
// bar background
// ::-webkit-scrollbar-track
// {
// 	border-radius: 10px;
// 	background-color: #F5F5F5;
// }
// bar item
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
//   background-color: mat-color($app-primary);
// }
.mat-card-avatar {
  background-size: cover;
}
