<div #parentChild class="carousel">
  <ng-content select="[carousel-items-container]"></ng-content>
  <!-- left and right -->
  <div #prev class="direction left">
    <ng-content select="[carousel-prev]"></ng-content>
  </div>
  <div #next class="direction right">
    <ng-content select="[carousel-next]"></ng-content>
  </div>
  <!-- indicators -->
  <ul class="indicators">
    <li
      *ngFor="let dot of dots; let i = index;"
      (click)="setIndex(i)">
      <ng-container
        *ngTemplateOutlet="dotElm, context: {
          $implicit: {
            index : i,
            currentIndex : currentIndex}
          }"></ng-container>
    </li>
  </ul>
  <!-- progress -->
  <div class="progress" #progressBar></div>
</div>
