
<carousel-container
  [current-index]="index"
  [mourse-enable]="false"
  [progress]="true"
  [drag-many]="false"
  [autoplay]="enable"
  [infinite]="false"
  [show-num]="5"
  [scroll-num]="1"
  [autoplay-speed]="3000"
  [autoplay-direction]="direction"
  [between-delay]="2000">
  <section
    carousel-items-container
    class="pane-container">
    <article class="pane"
      *ngFor="let avatar of avatars;let i = index;"
      carousel-item
      (carousel-item-click)="cc(avatar,i)"
      [style.backgroundImage]="avatar.image | safe:'background-image'">
      <div class="inner">
        <header>
          <p>gogogo</p>
          <h2>{{i}}</h2>
          <p>gogogo</p>
        </header>
      </div>
    </article>
  </section>
  <i carousel-prev class="material-icons" style="font-size:50px;">keyboard_arrow_left</i>
  <i carousel-next class="material-icons" style="font-size:50px;">keyboard_arrow_right</i>
  <ng-template #carouselDot let-model>
      <div class="ball"
        [class.visible]="model.index === model.currentIndex"></div>
  </ng-template>
</carousel-container>

<input type="checkbox" [(ngModel)]="enable">
<button (click)="cdirection()">{{direction}}</button>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
