<carousel-container [current-index]="index">
  <ul class='pane-container'>
    <li class='pane' (click)="go()">
      <div class='vertical-center'>1</div>
    </li>
    <li class='pane'>
      <div class='vertical-center'>2</div>
    </li>
    <li class='pane'>
      <div class='vertical-center'>3</div>
    </li>
    <li class='pane'>
      <div class='vertical-center'>4</div>
    </li>
  </ul>
</carousel-container>
<!-- <button (click)="index=index+1">+1</button>
<button (click)="index=index-1">-1</button>
{{index}} -->
<app-ui-tree
  [nodes]="avatars"
  [key]="key"
  [searchText]="searchText"></app-ui-tree>

<!-- <div style="overflow:hidden;width:80%">
  <div
    hm-carousel
    class="ui card swipe-box"
    style="width:500000px">
      <img
        [src]="avatar.image"
        class="image"
        *ngFor="let avatar of avatars; let idx=index">
  </div>
</div>

<div
  class="demo-one"
  drag-scroll
  drag-scroll-y-disabled="true"
  scrollbar-hidden="true"
  (reachesLeftBound)="leftBoundStat($event)"
  (reachesRightBound)="rightBoundStat($event)"
  #nav
  >
  <img
    *ngFor="let avatar of avatars; let idx=index"
    [src]="avatar.image" />
</div> -->
