<input type="checkbox" [(ngModel)]="enable">
<carousel-container
  [current-index]="index"
  [autoplay]="enable"
  [show-num]="3"
  [scroll-num]="1"
  [autoplay-speed]="1000"
  [between-delay]="3000"
  [center-mode]="true">
  <ul class="pane-container"  >
    <li class="pane" *ngFor="let avatar of avatars" >
      {{avatar.name}}
        <img [src]="avatar.image" [alt]="avatar.name" style="width:100px" >
    </li>
  </ul>
</carousel-container>



<!-- <button (click)="index=index+1">+1</button>
<button (click)="index=index-1">-1</button>
{{index}} -->
<!-- <app-ui-tree
  [nodes]="avatars"></app-ui-tree> -->

<!-- <div style="overflow:hidden;width:80%">
  <div
    hm-carousel
    class="ui card swipe-box"
    style="width:500000px">
      <img
        [src]="avatar.image"
        class="image"
        *ngFor="let avatar of avatars; let idx=index">
  </div>
</div>

<div
  class="demo-one"
  drag-scroll
  drag-scroll-y-disabled="true"
  scrollbar-hidden="true"
  (reachesLeftBound)="leftBoundStat($event)"
  (reachesRightBound)="rightBoundStat($event)"
  #nav
  >
  <img
    *ngFor="let avatar of avatars; let idx=index"
    [src]="avatar.image" />
</div> -->
