@font-face {
  font-family: 'photo';
  src:  url('fonts/photo.eot?gpf3hh');
  src:  url('fonts/photo.eot?gpf3hh#iefix') format('embedded-opentype'),
    url('fonts/photo.ttf?gpf3hh') format('truetype'),
    url('fonts/photo.woff?gpf3hh') format('woff'),
    url('fonts/photo.svg?gpf3hh#photo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'photo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge:before {
  content: "\e989";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
