/* You can add global styles to this file, and also import other style files */

img {
  pointer-events: none
}

.pane-container {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 157, 44);
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 0;
}

.pane-container.transition {
  transition: left .4s ease-in-out;
}

.pane {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80rem;
  color: white;
  h2 {
    font-size: 7rem
  }
}
