.carousel {
  height: 100%;
  width: 100%; // background-color: transparent;
  background-color: black;
  overflow: hidden;
  position: relative;
  ul.indicators {
    list-style: none;
    bottom: 1em;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    li {
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding: 0.5em;
    }
  }
  .direction {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    &.left {
      left: 0;
      z-index: 2;
    }
    &.right {
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
}

.transition {
  transition: left .4s ease-in-out;
}

.grab {
  /* 抓抓抓 */
  cursor: grab;
}

.grabbing {
  /* 抓住抓住 */
  cursor: grabbing;
}

.pointer {
  /* 抓住抓住 */
  cursor: pointer;
}
